header {
	width: 100%;
	background-color: white;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.hNote{
	display: flex;
	margin-left: 10px;
    margin-right: 10px;
	margin-top: 10px;
	align-items: center;
	font-weight: bold;
	font-size: 30px;
}
